.icon-48-types {
      background-image: url(../images/l_types.png);
      padding-left:60px!important;
}

.icon-48-type {
      background-image: url(../images/l_types.png);
      padding-left:60px!important;
}

.color-box-types { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-items {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-item {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.color-box-items { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}