/automation/FailedTestsScreenshots
/automation/Screenshots
/automation/test-output
/automation/target

/automation/Testdata.xlsx
/automation/.classpath
/automation/.project
/automation/.settings
/automation/extent.html
/automation/bin
/automation/.~lock.Testdata.xlsx#
/automation/src/main/java/com/ucm/config/properties.properties
/automation/src/main/java/com/ucm/utils/log4j.properties
