/* CSS for frontend*/
#item-form .radio input{
margin-left:5px !important;
}

#item-form .chzn-container{
width:200px !important;
}

#item-form .field-calendar input{
    display: inline !important;
}
 #item-form textarea{
    height: inherit !important;
}

#item-form .minicolors-theme-bootstrap .hex {
    width: 100px !important;
    height: auto;
}