/* CSS for frontend*/
#item-form .radio input{
margin-left:5px !important;
}

#item-form .chzn-container{
width:200px !important;
}

#item-form .field-calendar input{
    display: inline !important;
}
 #item-form textarea{
    height: inherit !important;
}

#item-form .minicolors-theme-bootstrap .hex {
    width: 100px !important;
    height: auto;
}

.tjucm-wrapper .tj-wordwrap{
word-break: break-word;
}

#item-form #tjucm_loader{
    height:auto;
    position:absolute;
    top:45%;
    left:45%;
    opacity: 0.5;
    display:none;
}

.accordion {
  background-color: #0daae5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #ccc; 
  content:""
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
}

.accordion::before 
{
  font-weight: bold;
  content: "+ ";
}

.accordion.active::before{
  content: "- ";

}

