/* CSS for frontend*/
#item-form .radio input{
margin-left:5px !important;
}

#item-form .chzn-container{
width:200px !important;
}

#item-form .field-calendar input{
    display: inline !important;
}
 #item-form textarea{
    height: inherit !important;
}

#item-form .minicolors-theme-bootstrap .hex {
    width: 100px !important;
    height: auto;
}

.tjucm-wrapper .tj-wordwrap{
word-break: break-word;
}

/****** Style Star Rating Widget *****/
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating.heart > label:before { 
	content: "\f004";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating.heart > .half:before { 
  content: "\f08a";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > label:empty{
display:block !important;
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/****** Css implementad for Detail view ******/

.rating.nohover:not(:checked) > label:hover, /* hover current star */
.rating.nohover:not(:checked) > label:hover ~ label { color: #ddd;  } /* hover previous stars in list */

.rating.nohover > input:checked + label:hover, /* hover current star when changing rating */
.rating.nohover > input:checked ~ label:hover,
.rating.nohover > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating.nohover > input:checked ~ label:hover ~ label { color: #FFD700;  } 
